/*** adding sf-vertical in addition to sf-menu creates a vertical menu ***/
.sf-vertical, .sf-vertical li {
	width: 235px;
}
/* this lacks ul at the start of the selector, so the styles from the main CSS file override it where needed */
.sf-vertical li:hover ul,
.sf-vertical li.sfHover ul {
	left:	265px; /* match ul width */
	top:	-30px;
}

/*** alter arrow directions ***/
/*.sf-vertical .sf-sub-indicator { background-position: -10px 0; } /* IE6 gets solid image only */
/*.sf-vertical a > .sf-sub-indicator { background-position: 0 0; } /* use translucent arrow for modern browsers*/

/* hover arrow direction for modern browsers
.sf-vertical a:focus > .sf-sub-indicator,
.sf-vertical a:hover > .sf-sub-indicator,
.sf-vertical a:active > .sf-sub-indicator,
.sf-vertical li:hover > a > .sf-sub-indicator,
.sf-vertical li.sfHover > a > .sf-sub-indicator {
	background-position: -10px 0; 
}
*/
/*overwrite*/
.sf-vertical > li {width:485px;}
.sf-vertical li ul,
.sf-vertical li ul li{width:275px;}

.sf-vertical .sub .deco_top{
	width:275px; height:23px;
	background:url(../../../css/imgs/content_sprite.png) no-repeat 0 -137px;
}
.sf-vertical .sub .deco_bottom{
	width:275px; height:23px;
	background:url(../../../css/imgs/content_sprite.png) no-repeat 0 -160px;
}
.sf-menu > li > a{
	padding-left:70px;
}
.sf-menu > li > a > span.left_deco{
	position:absolute; width:40px; height:33px;
	background:url(../../../css/imgs/content_sprite.png) no-repeat;
	left:15px; top:0;
}

.sf-menu > li > a.ico_0 > span.left_deco{background-position:0 -71px;}
.sf-menu > li > a.ico_0:hover > span.left_deco, .sf-menu > li.sfHover > a.ico_0 > span.left_deco{background-position:0 -104px;}

.sf-menu > li > a.ico_1 > span.left_deco{background-position:-40px -71px;}
.sf-menu > li > a.ico_1:hover > span.left_deco, .sf-menu > li.sfHover > a.ico_1 > span.left_deco{background-position:-40px -104px;}

.sf-menu > li > a.ico_2 > span.left_deco{background-position:-80px -71px;}
.sf-menu > li > a.ico_2:hover > span.left_deco, .sf-menu > li.sfHover > a.ico_2 > span.left_deco{background-position:-80px -104px;}

.sf-menu > li > a.ico_3 > span.left_deco{background-position:-120px -71px;}
.sf-menu > li > a.ico_3:hover > span.left_deco, .sf-menu > li.sfHover > a.ico_3 > span.left_deco{background-position:-120px -104px;}

.sf-menu > li > a.ico_4 > span.left_deco{background-position:-160px -71px;}
.sf-menu > li > a.ico_4:hover > span.left_deco, .sf-menu > li.sfHover > a.ico_4 > span.left_deco{background-position:-160px -104px;}

.sf-menu > li > a.ico_5 > span.left_deco{background-position:-200px -71px;}
.sf-menu > li > a.ico_5:hover > span.left_deco, .sf-menu > li.sfHover > a.ico_5 > span.left_deco{background-position:-200px -104px;}

.sf-menu > li > a.ico_6 > span.left_deco{background-position:-240px -71px;}
.sf-menu > li > a.ico_6:hover > span.left_deco, .sf-menu > li.sfHover > a.ico_6 > span.left_deco{background-position:-240px -104px;}

.sf-menu > li > a.ico_7 > span.left_deco{background-position:-280px -71px;}
.sf-menu > li > a.ico_7:hover > span.left_deco, .sf-menu > li.sfHover > a.ico_7 > span.left_deco{background-position:-280px -104px;}

.sf-menu > li > a.ico_8 > span.left_deco{background-position:-320px -71px;}
.sf-menu > li > a.ico_8:hover > span.left_deco, .sf-menu > li.sfHover > a.ico_8 > span.left_deco{background-position:-320px -104px;}

.sf-menu > li > a.ico_9 > span.left_deco{background-position:-360px -71px;}
.sf-menu > li > a.ico_9:hover > span.left_deco, .sf-menu > li.sfHover > a.ico_9 > span.left_deco{background-position:-360px -104px;}

.sf-menu > li > a.ico_10 > span.left_deco{background-position:-400px -71px;}
.sf-menu > li > a.ico_10:hover > span.left_deco, .sf-menu > li.sfHover > a.ico_10 > span.left_deco{background-position:-400px -104px;}

.sf-menu > li > a.ico_11 > span.left_deco{background-position:-440px -71px;}
.sf-menu > li > a.ico_11:hover > span.left_deco, .sf-menu > li.sfHover > a.ico_11 > span.left_deco{background-position:-440px -104px;}

.sf-vertical .sub li a{
	display:block;
	font: 14px/30px Arial; color:#363636;
	margin:0 24px 1px 24px;
	padding-left:15px;
	padding-right:15px;
	
	border-top: solid 2px #fff;
	border-bottom: solid 2px #fff;
	position: relative;
	z-index: 1;
	
	-webkit-border-radius: 5px;
    border-radius: 5px;
}
.sf-vertical .sub li a:before {
	content: "";
	display: block;
	position: absolute;
	top: -3px;
	left: 0;
	border-top: solid 1px #e1e1e1;
	
	width: 100%;
	padding: 2px 0 1px 0;
	min-height: 100%;
	z-index: 10;
}
.sf-vertical .sub li:first-child + li a:before{
	display:none;
}

.sf-vertical .sub li a:hover{background-color:#f7941d; color:#fff;}
.sf-vertical .sub li.sfHover > a{background-color:#0e76bc; color:#fff;}

.sf-vertical  > li > .sub > .deco_top span{
	position:absolute; width:21px; height:26px;
	background:url(../../../css/imgs/content_sprite.png) no-repeat -301px -137px;
	left:-7px; top:33px; z-index:99;
}
.sf-vertical .sub li a .make_shortcut{
	position:absolute; top:6px; right:7px; z-index:14;
	width:19px; height:18px;
	background:url(../../../css/imgs/content_sprite.png) no-repeat -350px -17px;
	display:none;
}
.sf-vertical .sub li:hover a .make_shortcut,
.sf-vertical .sub li.sfHover > a > .make_shortcut{
	display:block;
}
